In [125]:
#imports
import pandas as pd
from pathlib import Path
import numpy as np

In [126]:
# Store filepath in a variable
file = Path("owid-covid-data.csv")
file_df = pd.read_csv(file)
file_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302507,ZWE,Africa,Zimbabwe,2023-04-08,264578.0,2.0,4.143,5684.0,1.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
302508,ZWE,Africa,Zimbabwe,2023-04-09,264582.0,4.0,4.714,5684.0,0.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
302509,ZWE,Africa,Zimbabwe,2023-04-10,264584.0,2.0,4.143,5684.0,0.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
302510,ZWE,Africa,Zimbabwe,2023-04-11,264584.0,0.0,3.143,5684.0,0.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
302511,ZWE,Africa,Zimbabwe,2023-04-12,264584.0,0.0,2.571,5684.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [127]:
# filtering the columns to only keep the ones specified and removing rows with empty data
files_df = file_df[['continent', 'location', 'date','population', 'total_cases', 'total_deaths', 'icu_patients', 'hosp_patients', 'total_tests', 'positive_rate', 'tests_units','people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'population_density', 'median_age', 'aged_65_older','aged_70_older','gdp_per_capita','cardiovasc_death_rate','diabetes_prevalence']]
filies_df = files_df.dropna(how='any')
filies_df

,continent,location,date,population,total_cases,total_deaths,icu_patients,hosp_patients,total_tests,positive_rate,...,people_vaccinated,people_fully_vaccinated,total_boosters,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence
16193,Oceania,Australia,2021-10-07,26177410.0,117770.0,1470.0,293.0,1522.0,39191561.0,0.0114,...,17408468.0,12503241.0,151.0,3.202,37.9,15.504,10.129,44648.710,107.791,5.07
16194,Oceania,Australia,2021-10-08,26177410.0,120043.0,1493.0,287.0,1437.0,39403312.0,0.0115,...,17521126.0,12720856.0,292.0,3.202,37.9,15.504,10.129,44648.710,107.791,5.07
16195,Oceania,Australia,2021-10-09,26177410.0,122506.0,1504.0,293.0,1446.0,39581452.0,0.0121,...,17593798.0,12883681.0,433.0,3.202,37.9,15.504,10.129,44648.710,107.791,5.07
16196,Oceania,Australia,2021-10-10,26177410.0,125051.0,1526.0,296.0,1492.0,39758570.0,0.0122,...,17644750.0,12998286.0,481.0,3.202,37.9,15.504,10.129,44648.710,107.791,5.07
16197,Oceania,Australia,2021-10-11,26177410.0,127423.0,1541.0,309.0,1486.0,39943975.0,0.0117,...,17742605.0,13212457.0,715.0,3.202,37.9,15.504,10.129,44648.710,107.791,5.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285560,North America,United States,2022-06-14,338289856.0,84664970.0,1002944.0,2999.0,26042.0,911039148.0,0.1270,...,259353061.0,223029633.0,123139146.0,35.608,38.3,15.413,9.732,54225.446,151.089,10.79
285561,North America,United States,2022-06-15,338289856.0,84756328.0,1003230.0,2994.0,26413.0,911642612.0,0.1330,...,259394474.0,223064339.0,123335005.0,35.608,38.3,15.413,9.732,54225.446,151.089,10.79
285562,North America,United States,2022-06-16,338289856.0,84894338.0,1003649.0,3043.0,26235.0,912115224.0,0.1360,...,259435866.0,223097999.0,123529208.0,35.608,38.3,15.413,9.732,54225.446,151.089,10.79
285563,North America,United States,2022-06-17,338289856.0,85037513.0,1004218.0,2996.0,26221.0,912521698.0,0.1380,...,259479523.0,223134513.0,123733694.0,35.608,38.3,15.413,9.732,54225.446,151.089,10.79
285564,North America,United States,2022-06-18,338289856.0,85135087.0,1004519.0,2925.0,25557.0,912769124.0,0.1390,...,259502335.0,223152482.0,123816787.0,35.608,38.3,15.413,9.732,54225.446,151.089,10.79

In [128]:
#count of how many countries are in the dataframe after filtering
filies_df['location'].nunique()

27

In [129]:
filies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5377 entries, 16193 to 285564
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   continent                5377 non-null   object
 1   location                 5377 non-null   object
 2   date                     5377 non-null   object
 3   population               5377 non-null   float64
 4   total_cases              5377 non-null   float64
 5   total_deaths             5377 non-null   float64
 6   icu_patients             5377 non-null   float64
 7   hosp_patients            5377 non-null   float64
 8   total_tests              5377 non-null   float64
 9   positive_rate            5377 non-null   float64
 10  tests_units              5377 non-null   object
 11  people_vaccinated        5377 non-null   float64
 12  people_fully_vaccinated  5377 non-null   float64
 13  total_boosters           5377 non-null   float64
 14  population_density       5377 non-null   float64
 15  median_age               5377 non-null   float64
 16  aged_65_older            5377 non-null   float64
 17  aged_70_older            5377 non-null   float64
 18  gdp_per_capita           5377 non-null   float64
 19  cardiovasc_death_rate    5377 non-null   float64
 20  diabetes_prevalence      5377 non-null   float64
dtypes: float64(17), object(4)
memory usage: 924.2+ KB

In [130]:
#here, we found the last date that each country was logged to get the final results that were logged
Countries_df = filies_df.sort_values('date').groupby('location').tail(1)
Countries_df.head()

,continent,location,date,population,total_cases,total_deaths,icu_patients,hosp_patients,total_tests,positive_rate,...,people_vaccinated,people_fully_vaccinated,total_boosters,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence
154637,Europe,Luxembourg,2021-04-13,647601.0,63879.0,780.0,33.0,122.0,2530488.0,0.0230,...,103569.0,37868.0,1.0,231.447,39.7,14.312,9.842,94277.965,128.275,4.42
65345,Europe,Cyprus,2022-01-31,896007.0,250587.0,749.0,35.0,204.0,22745986.0,0.0208,...,659912.0,629299.0,404293.0,127.657,37.3,13.416,8.563,32415.132,141.171,9.24
216184,Europe,Portugal,2022-03-11,10270857.0,3497313.0,21298.0,65.0,1111.0,39057671.0,0.2300,...,9721307.0,8783540.0,6287012.0,112.371,46.2,21.502,14.924,27936.896,127.842,9.85
16375,Oceania,Australia,2022-04-07,26177410.0,4657049.0,6944.0,95.0,2818.0,67351674.0,0.4944,...,22231734.0,21348489.0,13088177.0,3.202,37.9,15.504,10.129,44648.710,107.791,5.07
284338,Europe,United Kingdom,2022-05-19,67508936.0,22227349.0,178266.0,191.0,6819.0,503270347.0,0.0326,...,53407449.0,49903328.0,39604509.0,272.898,40.8,18.517,12.527,39753.244,122.137,4.28

In [131]:
# make a new file called total_cases_per_population that gives the ratio of total cases to the overall population
Countries_df['total_cases_per_population'] = Countries_df['total_cases'] / Countries_df['population']
Countries_df.head()

,continent,location,date,population,total_cases,total_deaths,icu_patients,hosp_patients,total_tests,positive_rate,...,people_fully_vaccinated,total_boosters,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,total_cases_per_population
154637,Europe,Luxembourg,2021-04-13,647601.0,63879.0,780.0,33.0,122.0,2530488.0,0.0230,...,37868.0,1.0,231.447,39.7,14.312,9.842,94277.965,128.275,4.42,0.098639
65345,Europe,Cyprus,2022-01-31,896007.0,250587.0,749.0,35.0,204.0,22745986.0,0.0208,...,629299.0,404293.0,127.657,37.3,13.416,8.563,32415.132,141.171,9.24,0.279671
216184,Europe,Portugal,2022-03-11,10270857.0,3497313.0,21298.0,65.0,1111.0,39057671.0,0.2300,...,8783540.0,6287012.0,112.371,46.2,21.502,14.924,27936.896,127.842,9.85,0.340508
16375,Oceania,Australia,2022-04-07,26177410.0,4657049.0,6944.0,95.0,2818.0,67351674.0,0.4944,...,21348489.0,13088177.0,3.202,37.9,15.504,10.129,44648.710,107.791,5.07,0.177903
284338,Europe,United Kingdom,2022-05-19,67508936.0,22227349.0,178266.0,191.0,6819.0,503270347.0,0.0326,...,49903328.0,39604509.0,272.898,40.8,18.517,12.527,39753.244,122.137,4.28,0.329250

In [132]:
# made a new df that will have columns that will later be looked at
country_final_df = Countries_df[['location','population','total_cases','total_deaths','total_cases_per_population','positive_rate','people_fully_vaccinated','total_boosters','median_age']]
country_final_df.head()

,location,population,total_cases,total_deaths,total_cases_per_population,positive_rate,people_fully_vaccinated,total_boosters,median_age
154637,Luxembourg,647601.0,63879.0,780.0,0.098639,0.0230,37868.0,1.0,39.7
65345,Cyprus,896007.0,250587.0,749.0,0.279671,0.0208,629299.0,404293.0,37.3
216184,Portugal,10270857.0,3497313.0,21298.0,0.340508,0.2300,8783540.0,6287012.0,46.2
16375,Australia,26177410.0,4657049.0,6944.0,0.177903,0.4944,21348489.0,13088177.0,37.9
284338,United Kingdom,67508936.0,22227349.0,178266.0,0.329250,0.0326,49903328.0,39604509.0,40.8

In [133]:
#made new columns that were divided by the population to get the ratio so it can be compared with other countries
country_final_df['total_deaths_per_population'] = country_final_df['total_deaths'] / country_final_df['population']
country_final_df['vaccinations_per_population'] = country_final_df['people_fully_vaccinated'] / country_final_df['population']
country_final_df['boosters_per_population'] = country_final_df['total_boosters'] / country_final_df['population']
country_final_df.head()

C:\Users\murta\AppData\Local\Temp\ipykernel_22424\131466501.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_final_df['total_deaths_per_population'] = country_final_df['total_deaths'] / country_final_df['population']
C:\Users\murta\AppData\Local\Temp\ipykernel_22424\131466501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_final_df['vaccinations_per_population'] = country_final_df['people_fully_vaccinated'] / country_final_df['population']
C:\Users\murta\AppData\Local\Temp\ipykernel_22424\131466501.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_final_df['boosters_per_population'] = country_final_df['total_boosters'] / country_final_df['population']

,location,population,total_cases,total_deaths,total_cases_per_population,positive_rate,people_fully_vaccinated,total_boosters,median_age,total_deaths_per_population,vaccinations_per_population,boosters_per_population
154637,Luxembourg,647601.0,63879.0,780.0,0.098639,0.0230,37868.0,1.0,39.7,0.001204,0.058474,0.000002
65345,Cyprus,896007.0,250587.0,749.0,0.279671,0.0208,629299.0,404293.0,37.3,0.000836,0.702337,0.451216
216184,Portugal,10270857.0,3497313.0,21298.0,0.340508,0.2300,8783540.0,6287012.0,46.2,0.002074,0.855191,0.612121
16375,Australia,26177410.0,4657049.0,6944.0,0.177903,0.4944,21348489.0,13088177.0,37.9,0.000265,0.815531,0.499980
284338,United Kingdom,67508936.0,22227349.0,178266.0,0.329250,0.0326,49903328.0,39604509.0,40.8,0.002641,0.739211,0.586656

In [140]:
#organized and cleaned the dataset
Country_per_pop = country_final_df[['location','total_cases_per_population','total_deaths_per_population','vaccinations_per_population','boosters_per_population','positive_rate','median_age','population']]
Country_per_pop.head()

,location,total_cases_per_population,total_deaths_per_population,vaccinations_per_population,boosters_per_population,positive_rate,median_age,population
154637,Luxembourg,0.098639,0.001204,0.058474,0.000002,0.0230,39.7,647601.0
65345,Cyprus,0.279671,0.000836,0.702337,0.451216,0.0208,37.3,896007.0
216184,Portugal,0.340508,0.002074,0.855191,0.612121,0.2300,46.2,10270857.0
16375,Australia,0.177903,0.000265,0.815531,0.499980,0.4944,37.9,26177410.0
284338,United Kingdom,0.329250,0.002641,0.739211,0.586656,0.0326,40.8,67508936.0

In [166]:
#made a new df that shows only the percentages for each given country of the columns previously made
Country_percentage = pd.DataFrame(Country_per_pop['total_cases_per_population'])
Country_percentage['location']= Country_per_pop['location']
Country_percentage = Country_percentage.rename(columns={'total_cases_per_population': '%_cases_per_population'})
Country_percentage[['location','%_cases_per_population']]
Country_percentage.sort_values(by=['%_cases_per_population'], ascending=[False], inplace=True)
Country_percentage

        %_cases_per_population        location
69070                 0.535407         Denmark
247310                0.487201        Slovenia
17642                 0.484446         Austria
185756                0.462215     Netherlands
128760                0.451016          Israel
80948                 0.438780         Estonia
91711                 0.430128          France
261659                0.423909     Switzerland
66683                 0.401015         Czechia
26016                 0.360245         Belgium
253282                0.351998     South Korea
216184                0.340508        Portugal
284338                0.329250  United Kingdom
246111                0.317592        Slovakia
126365                0.314622         Ireland
129956                0.304202           Italy
65345                 0.279671          Cyprus
255675                0.263909           Spain
285564                0.251663   United States
90512                 0.203721         Finland
16375                 0.177903       Australia
159444                0.133741        Malaysia
46332                 0.100810          Canada
154637                0.098639      Luxembourg
31994                 0.074760         Bolivia
132348                0.074012           Japan
250898                0.066584    South Africa

In [167]:
#here we added the percent format to all of the columns
Country_percentage['%_deaths_per_population'] = Country_per_pop['total_deaths_per_population']
Country_percentage['%_vaccinated_per_population'] = Country_per_pop['vaccinations_per_population']
Country_percentage['%_boosters_per_population'] = Country_per_pop['boosters_per_population']
Country_percentage['%_boosters_per_population'] = Country_percentage['%_boosters_per_population'].transform(lambda x: '{:,.2%}'.format(x))
Country_percentage['%_deaths_per_population'] = Country_percentage['%_deaths_per_population'].transform(lambda x: '{:,.2%}'.format(x))
Country_percentage['%_vaccinated_per_population'] = Country_percentage['%_vaccinated_per_population'].transform(lambda x: '{:,.2%}'.format(x))
#Country_percentage['%_cases_per_population'] = Country_percentage['%_cases_per_population'].transform(lambda x: '{:,.2%}'.format(x))
Country_percentage['population'] = Country_per_pop['population']
Country_percentage[['location','population','%_cases_per_population','%_deaths_per_population','%_vaccinated_per_population','%_boosters_per_population']]

,location,population,%_cases_per_population,%_deaths_per_population,%_vaccinated_per_population,%_boosters_per_population
69070,Denmark,5882259.0,0.535407,0.11%,80.59%,61.19%
247310,Slovenia,2119843.0,0.487201,0.37%,57.65%,30.99%
17642,Austria,8939617.0,0.484446,0.22%,74.47%,58.59%
185756,Netherlands,17564020.0,0.462215,0.13%,68.00%,52.84%
128760,Israel,9449000.0,0.451016,0.12%,65.07%,56.36%
80948,Estonia,1326064.0,0.438780,0.20%,64.49%,36.63%
91711,France,67813000.0,0.430128,0.21%,78.09%,57.64%
261659,Switzerland,8740471.0,0.423909,0.15%,68.66%,43.36%
66683,Czechia,10493990.0,0.401015,0.38%,65.54%,40.29%
26016,Belgium,11655923.0,0.360245,0.27%,78.56%,65.66%
253282,South Korea,51815808.0,0.351998,0.05%,85.50%,72.64%
216184,Portugal,10270857.0,0.340508,0.21%,85.52%,61.21%
284338,United Kingdom,67508936.0,0.329250,0.26%,73.92%,58.67%
246111,Slovakia,5643455.0,0.317592,0.36%,45.67%,12.06%
126365,Ireland,5023108.0,0.314622,0.15%,80.62%,61.35%
129956,Italy,59037472.0,0.304202,0.28%,81.17%,69.39%
65345,Cyprus,896007.0,0.279671,0.08%,70.23%,45.12%
255675,Spain,47558632.0,0.263909,0.23%,85.24%,53.14%
285564,United States,338289856.0,0.251663,0.30%,65.96%,36.60%
90512,Finland,5540745.0,0.203721,0.09%,78.18%,59.00%
16375,Australia,26177410.0,0.177903,0.03%,81.55%,50.00%
159444,Malaysia,33938216.0,0.133741,0.11%,80.27%,47.91%
46332,Canada,38454328.0,0.100810,0.11%,81.67%,55.87%
154637,Luxembourg,647601.0,0.098639,0.12%,5.85%,0.00%
31994,Bolivia,12224114.0,0.074760,0.18%,49.06%,13.39%
132348,Japan,123951696.0,0.074012,0.03%,82.55%,62.94%
250898,South Africa,59893884.0,0.066584,0.17%,31.72%,5.68%

In [158]:
Country_percentage.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 154637 to 250898
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   %_cases_per_population       27 non-null     object
 1   location                     27 non-null     object
 2   %_deaths_per_population      27 non-null     object
 3   %_vaccinated_per_population  27 non-null     object
 4   %_boosters_per_population    27 non-null     object
 5   population                   27 non-null     float64
dtypes: float64(1), object(5)
memory usage: 1.5+ KB

In [4]:
import database

table_name = 'covid_data'
filies_df.to_sql(table_name, database.conn, if_exists='replace', index=False)
database.conn.commit()
database.conn.close()